[Unit]
Description=Check and install Minecraft Bedrock Dedicated Server updates
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/mcserver update bds --yes
