[Unit]
Description=Update Minecraft Bedrock Network runtimes, plugins and project
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/mcserver update
