[Unit]
Description=Backup diario del Survival Bedrock

[Timer]
OnCalendar=*-*-* 05:00:00
Persistent=true
RandomizedDelaySec=120

[Install]
WantedBy=timers.target
